@font-face {
    font-family: 'SF Pro Display', 'Inter', sans-serif;
    src: url('./fonts/SFPro.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

.landpage {
    display: flex;
    flex-direction: column;
    background-image: url('../assets/Backgrounlogin.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'SF Pro Display', 'Trebuchet MS', sans-serif;
    font-style: italic;
    width: 1390px;
    height: 682px;
    align-items: center;
    justify-content: center;
    
}

.landpage .card {
    background-color: rgb(19, 18, 18);
    border-radius: 10px;
    border: 1px solid #777777;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(243, 242, 242, 0.2);
    color: aliceblue;
}



/* desde aqui perfil usuario */

.header {
    position: relative;
    top: 10px;
    right: 30px;
    display: flex;
    width: 1000px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.header >a {
    color: #0a0a0a;
    font-weight: bold;
}

.perfil-header {
    display: block;
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 3;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: #f1f1f7;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    height: 40px;
    font-size: small;
    font-weight: bold;
    padding: 12px 20px;
    gap: 304px;
}

.perfil-logo {
    font-size: smaller;
    font-weight: bold;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil-nombre {
    display: flex;
    font-size: smaller;
}

.perfil-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}



